.header {
  position: relative;
  width: 100%;
  height: 30rem;
  margin: 2rem auto;
}

.intro,
.name,
.desc {
  text-align: center;
}

.intro {
  /* font-size: 1.8rem; */
  margin-top: 13rem;
}

.name {
  font-size: 3.5rem;
  color: rgb(41, 218, 5);
  font-weight: bold;
}

.header > .titles > .desc {
  text-align: center;
  /* font-size: 1.8rem; */
  margin-top: 0;
}
